
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{$name}</title>
</head>
<body>
    <div>
        用户名
        <Input type="text" id="name">
        密码
        <Input type="password" id="password">
    <input type="button" value="登陆" onclick="commit();">
        <form action="aa.html" method="POST">
            <input type="submit" value="注册">
        </form>
    </div>

    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script>
        function commit() {
            var name = $('#name').val();
            var psd = $('#password').val();

            if (name == "") {
                alert("请输入用户名!");
            }
            else if (psd == "") {
                alert("请输入密码!");
            }
            else {

                $.ajax({
                    'url': "{$url}",
                    'type': 'post',
                    'data': {
                        'name': name,
                        'password': psd
                    },
                    'success': function (rsp) {
                        alert(JSON.stringify(rsp));
                    }
                });
            }
        }

    </script>
</body>
</html>

